@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
}

body {
  background: #f0f9ff;
}